.slides {
  position: relative;
}

.slick-prev, .slick-next {
	position: absolute;
	z-index: 10;
	height: 30px;
	width: 30px;
}

.slick-prev {
	left: 2%;
}

.slick-next {
	right: 2%;
}

.slick-prev::before, .slick-next::before {
	font-size: 30px;
}

.slick-dots {
	bottom: 25px;
}

.slick-dots li button:before {
	font-size: 8px;
	color: #bbb;
}

.slick-dots li.slick-active button:before {
	color: white;
}
