@import url('https://cdn.jsdelivr.net/gh/uclaacm/westwood_sans/font.css');

/* ========== About.jsx ========== */
#about {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-container {
	width: 100%;
	background: linear-gradient(180deg, #2D5EA2 0%, #B970A5 24%, #F39F74 46%);
}

.about-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem 0 0;
	width: 100%;
}

.about-subheader {
	font-size: 3rem;
	font-weight: bold;
	position: relative;
	display: inline-block;
}

.about-title {
	font-weight: bold;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--bgWhite);
}

.team-container {
	position: relative;
}

#team-slideshow-svg {
	width: 100%;
	margin-bottom: -0.5rem;
}

.alumni-container {
	background: linear-gradient(180deg, var(--royce) 0%, var(--bgPink) 12%);
	width: 100%;
	padding: 3rem 0;
}

/* ========== Alumni ========== */
.alumni-section {
	text-align: center;
	margin-bottom: 3rem;
}

.alumni-desc {
	margin: auto;
	font-size: 1.3rem;
	width: 60rem;
	line-height: 2.2rem;
	font-family: 'Westwood Sans', sans-serif;
	color: var(--darkPurple);
}

.alumni-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 2rem;
	padding: 0 1rem;
	justify-items: center;
	max-width: 960px;
	margin: auto;
}

.alumni-year {
	text-align: center;
}

.alumni-year-title {
	color: var(--pink);
	font-size: 2.2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.alumni-names {
	list-style-type: none;
	padding: 0;
}

.alumni-name {
	color: var(--darkPurple);
	font-weight: 500;
	font-size: 1.2rem;
	margin: 0.3rem 0;
}

/* ========== Media Queries ========== */
@media (max-width: 1000px) {
	.alumni-desc {
		max-width: 800px;
	}
}

@media (max-width: 900px) {
	.alumni-desc {
		max-width: 600px;
	}

	.team-grid {
		max-width: 860px;
	}
}

@media (max-width: 700px) {
	.alumni-desc {
		max-width: 400px;
	}

	.team-grid {
		max-width: 400px;
	}
}

@media (max-width: 450px) {
	.about-title {
		font-size: 3.5rem;
	}

	.alumni-desc {
		max-width: 300px;
	}
}
