/* ========== About.jsx ========== */
#about {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5rem 0 2rem;
	max-width: 960px;
}

.about-subheader {
	font-size: 3rem;
	font-weight: bold;
	position: relative;
	display: inline-block;
}

.about-subheader::after {
	content: '';
	display: block;
	width: 100%;
	height: 30px;
	background-color: var(--darkPink);
	margin-top: 10px;
}

.about-title {
	font-weight: bold;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	width: 60rem;
	line-height: 2.2rem;
}

/* ========== Team.jsx ========== */
.team-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 3rem;
	padding: 3rem;
	justify-items: center;
	max-width: 960px;
}

.team-member {
	text-align: center;
	max-width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-image img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.3s;
}

.team-name {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 1rem 0 0.5rem;
}

.team-pronouns {
	font-size: 0.9rem;
	color: gray;
	margin-bottom: 0.5rem;
}

.team-role {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.team-description {
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
}

.fade-container {
	position: relative;
	width: 200px;
	height: 200px;
}

.fade-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	transition: opacity 0.8s ease-in-out;
}

.normal-image {
	opacity: 1;
}

.easter-egg-image {
	opacity: 0;
}

.fade .normal-image {
	opacity: 0;
}

.fade .easter-egg-image {
	opacity: 1;
}

.hidden {
	pointer-events: none;
}

/* ========== Alumni ========== */
.alumni-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.3rem;
	width: 60rem;
	line-height: 2.2rem;
}

.alumni-section {
	text-align: center;
	margin: 3rem 0;
}

.alumni-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 2rem;
	padding: 0 2rem;
	justify-items: center;
}

.alumni-year {
	text-align: center;
}

.alumni-year-title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.alumni-names {
	list-style-type: none;
	padding: 0;
}

.alumni-name {
	font-size: 1.1rem;
	margin: 0.3rem 0;
}
