.announcement-container {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
}

.announcement-card {
	width: 100%;
	border-radius: 20px;
	border: 2px solid rgba(201, 96, 255, 0.3);
	box-shadow: 0 1px 20px rgba(201, 96, 255, 0.6);
	background: linear-gradient(90deg, #ca32ff, #ff5f96, #ca32ff, #ff5f96);
	position: relative;
	animation: swipe 3s linear infinite;
}

@keyframes swipe {
	0% {
		background-size: 300%;
		background-position: 100% 0;
	}
	100% {
		background-size: 300%;
		background-position: 0 0;
	}
}

.link-no-style {
	text-decoration: none;
	color: inherit;
}

.announcement-content {
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	padding: 0 1rem;
}

.announcement-grid {
	display: flex;
	justify-content: center;
	align-items: center;
}

.announcement-item {
	width: 100%;
}

.announcement-text {
	font-size: 1.2rem;
}

.announcement-arrow {
	display: flex;
	align-items: center;
	transform: rotate(-90deg);
	margin-left: 1rem;
}
