@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://cdn.jsdelivr.net/gh/uclaacm/westwood_sans/font.css');

* {
	font-family: Poppins;
	box-sizing: border-box;
}

:root {
	--bgBlack: black;
	--bgWhite: white;
	--bgGray: #f7f7f7;
	--bgPink: #fff7fa;
	--bgDarkPink: #f5d9ee;
	--bgPinkGradient: linear-gradient(180deg, var(--bgPink) 0%, var(--bgDarkPink) 81%);
	--darkPink: #f64580;
	--darkPurple: #3e2961;
	--lightPurple: #ed4fff;
	--lightGray: #e5e5e5;
	--lightGrayV2: #979797;
	--lightPink: #ffdbf1;
	--pink: #fb71c4;
	--gray: #666;
	--newGray: #5f5667;
	--newLightGray: #9689a1;
	--royce: #ebb984;

	--hackPrimary: #c960ff;
	--hackSecondaryV1: #c137d8;
	--hackSecondaryV2: #9c28c5;
	--hackSecondaryV3: #3e2961;
	--hackAccent: #ff477e;
	--hackAccentV2: #fb71c4;
	--cardGradientEnd: #d681f8;

	--rounded-none: 0;
	--rounded-sm: 0.125rem;
	--rounded-md: 0.375rem;
	--rounded-lg: 0.5rem;
	--rounded-xl: 0.75rem;
	--rounded-2xl: 1rem;
	--rounded-3xl: 1.5rem;
	--rounded-full: 9999px;
}

h1 {
	margin: 0;
}

body {
	color: var(--bgBlack);
	margin: 0;
	background-color: var(--bgPink);
	background: var(--bgPinkGradient);
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-title {
	font-weight: bold;
	font-size: 2.5rem;
	text-align: center;
	font-size: 4rem;
	margin: 1rem 0;
	background-image: linear-gradient(
		to right,
		#c960ff,
		#ea43d4,
		#f499da,
		#e16db9,
		#c960ff
	);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 300% auto;
	animation: gradientFlow 5s linear infinite;
}

@keyframes gradientFlow {
	0% {
		background-position: 0% center;
	}
	50% {
		background-position: 100% center;
	}
	100% {
		background-position: 0% center;
	}
}

@media (max-width: 500px) {
	.section-title {
		font-size: 2.5rem;
	}
}

[data-aos='light-fade-up'] {
	transform: translateY(36px);
	opacity: 0;
	transition-property: transform, opacity;
	&.aos-animate {
		transform: translateY(0);
		opacity: 1;
	}
}
