@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
	font-family: Poppins;
	box-sizing: border-box;
}

:root {
	--bgBlack: black;
	--bgWhite: white;
	--bgGray: #f7f7f7;
	--bgPink: #faddff;
	--darkPink: #f64580;
	--darkPurple: #3e2961;
	--lightPurple: #ed4fff;
	--lightGray: #e5e5e5;
	--lightGrayV2: #979797;
	--lightPink: #ffdbf1;
	--pink: #fb71c4;
	--gray: #666;

	--hackPrimary: #c960ff;
	--hackSecondaryV1: #c137d8;
	--hackSecondaryV2: #9c28c5;
	--hackSecondaryV3: #3e2961;
	--hackAccent: #ff477e;

	--rounded-none: 0;
	--rounded-sm: 0.125rem;
	--rounded-md: 0.375rem;
	--rounded-lg: 0.5rem;
	--rounded-xl: 0.75rem;
	--rounded-2xl: 1rem;
	--rounded-3xl: 1.5rem;
	--rouned-full: 9999px;
}

h1 {
	margin: 0;
}

body {
	color: var(--bgBlack);
	margin: 0;
	background-color: var(--bgWhite);
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

[data-aos='light-fade-up'] {
	transform: translateY(36px);
	opacity: 0;
	transition-property: transform, opacity;
	&.aos-animate {
		transform: translateY(0);
		opacity: 1;
	}
}
