.archive-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 0 2rem;
	background-color: #FFF7FA;
}

.archive-header {
	text-align: center;
	margin-bottom: 2rem;
}

.archive-header h1 {
	font-weight: bold;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slides {
	width: 70%;
	margin: 0 auto 3rem;
	border-radius: 16px;
	overflow: hidden;
}

.carousel-image {
	height: 450px;
	display: block !important;
	margin: 0 auto;
	object-fit: cover;
	width: 100%;
}

.quarter {
	width: 60%;
	margin-bottom: 2rem;
}

.quarter h2 {
	margin: 1rem 0;
	color: var(--hackSecondaryV3);
}

.event-details {
	width: 100%;
}

.event-links {
	display: flex;
	flex-direction: row;
}

.event-links span {
	margin: 0 0.5rem;
}

.session {
	margin-bottom: 2rem;
	background-color: #FFF8FA;
}

.session p {
	margin-top: 0;
	margin-bottom: 0;
}

.session h3 {
	font-size: 1.8rem;
	margin: 0;
	color: var(--hackSecondaryV3);
}

.presenters {
	color: #9689a1;
}

.session-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 0.3rem;
}

.session-tags {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	background-color: var(--lightPink);
	color: var(--pink);
	padding: 0.3rem 0.8rem;
	border-radius: var(--rounded-2xl);
	margin-right: 0.5rem;
	font-size: 0.9rem;
	white-space: nowrap;
}

.archiveItem {
	background-color: white;
	border-radius: 0.5rem;
	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
	margin-bottom: 0.2rem;
}

.archiveItemBtn {
	width: 100%;
	padding: 1rem;
	font-size: 1.6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	background-image: linear-gradient(to right, #FB71C4, #D681F8);
	color: white;
	cursor: pointer;
	border-radius: 0.5rem;
}

.archiveItemBtnExpanded {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.archiveItemContent {
	border-radius: 0 0 0.5rem 0.5rem;
	box-shadow: 0 7px 8px rgba(0, 0, 0, 0.15);
	transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.archiveItemPanel {
	padding: 0 1.5rem 1rem;
	background-color: #ffffff;
	border-radius: 8px;
	color: #333;
	line-height: 1.6;
	font-size: 1rem;
}

.archiveItemPanel a {
	color: var(--pink);
	text-decoration: none;
}

.archiveItemPanel a:hover {
	text-decoration: underline;
}

.chevron {
	transition: transform 0.2s ease;
	color: white;
}

.archiveItemBtnExpanded .chevron {
	transform: rotate(180deg);
}

.directors {
	font-size: 1.2rem;
	color: #5f5667;
}

@media (max-width: 1400px) {
	.archive-container {
		padding: 2rem 0;
	}

	.archive-header h1 {
		font-size: 2.5rem;
	}

	.quarter {
		width: 90%;
	}

	.session h3 {
		font-size: 1.4rem;
	}

	.tag {
		margin-bottom: 0.3rem;
		font-size: 0.8rem;
	}

	.archiveItemBtn {
		padding: 0.8rem;
		font-size: 1.4rem;
	}
}
