.archive-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem 0 2rem;
}

.archive-header {
	text-align: center;
	margin-bottom: 2rem;
}

.archive-header h1 {
	font-weight: bold;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quarter {
	width: 60%;
	margin-bottom: 2rem;
}

.quarter h2 {
	margin: 1rem 0;
}

.event-details {
	width: 100%;
}

.event-links {
	display: flex;
	flex-direction: row;
}

.event-links span {
	margin: 0 0.5rem;
}

.session {
	margin-bottom: 2rem;
}

.session p {
	margin-top: 0;
	margin-bottom: 0;
}

.session h3 {
	font-size: 1.8rem;
	margin: 0;
}

.session-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.3rem;
}

.tag {
	background-color: var(--lightGrayV2);
	color: white;
	padding: 0.2rem 0.4rem;
	border-radius: 0.5rem;
	margin-right: 0.5rem;
	font-size: 0.9rem;
}

.item {
	background-color: white;
	border-radius: 0.5rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 0.2rem;
}

.itemBtn {
	width: 100%;
	padding: 1rem;
	font-size: 1.6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	background-color: white;
	cursor: pointer;
	border-radius: 0.5rem;
}

.itemBtn:hover {
	background-color: white;
}

.itemBtnExpanded {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.itemContent {
	padding: 0 1rem;
	border-radius: 0 0 0.5rem 0.5rem;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.itemPanel {
	padding-top: 0;
}

.chevron {
	transition: transform 0.2s ease;
}

.itemBtnExpanded .chevron {
	transform: rotate(180deg);
}

.directors {
	font-size: 1.2rem;
}
