/* ========== Blog.jsx ========== */
#blog {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ========== BlogList.jsx ========== */
#bloglist {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem 0 2rem;
}

.bloglist-title {
	font-weight: bold;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bloglist-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	width: 100%;
}

.blog-link {
	text-decoration: none;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(162, 89, 255, 0.3);
	width: 80%;
	margin: 15px 0;
	padding: 20px;
	transition: box-shadow 0.3s ease;
	color: inherit;
}

.blog-link:hover {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 0 30px rgba(162, 89, 255, 0.4);
	cursor: pointer;
}

.blog-link:visited,
.blog-link:focus,
.blog-link:active {
	color: inherit;
}

.blog-title {
	font-size: 2.2rem;
	font-weight: 600;
	color: var(--hackPrimary);
	border-bottom: 3px solid var(--lightGray);
	padding-bottom: 1rem;
}

.blog-summary {
	margin-top: 1rem;
	text-decoration: none;
}

.blog-metadata {
	color: var(--gray);
	margin-top: 1rem;
}

/* ========== BlogPost.jsx ========== */
#blogpost {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.markdown-container {
	max-width: 70rem;
	margin: 3rem auto;
	line-height: 1.8;
}

.markdown-container h1 {
	font-size: 3rem;
	font-weight: bold;
	color: var(--black);
	margin-bottom: 1rem;
}

.markdown-container h2 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.markdown-container h3 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	color: var(--lightGrayV2);
	font-weight: normal;
}

.markdown-container h4 {
	font-size: 1rem;
	margin-bottom: 1rem;
	font-weight: normal;
	font-style: italic;
	color: var(--black);
}

.markdown-container p {
	font-size: 1.2rem;
	color: var(--gray);
	margin-bottom: 1.5rem;
}

.markdown-container blockquote {
	background-color: var(--bgGray);
	border-left: 4px solid var(--hackAccent);
	margin: 1.5rem 0;
	padding: 1rem;
	font-style: italic;
	color: var(--gray);
}

.markdown-container ul {
	list-style-type: disc;
	margin-left: 2rem;
}

.markdown-container li {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.markdown-container pre {
	background-color: var(--bgGray);
	padding: 1rem;
	border-radius: 5px;
	overflow-x: auto;
}

.markdown-container code {
	font-family: 'Courier New', monospace;
	color: var(--hackAccentV2);
}

.markdown-container a {
	color: var(--hackSecondaryV2);
	text-decoration: none;
}

.markdown-container a:hover {
	color: var(--hackAccent);
	text-decoration: underline;
}

/* ========== Media Queries ========== */
@media (max-width: 1200px) {
	.markdown-container {
		max-width: 60rem;
	}
}

@media (max-width: 1000px) {
	.markdown-container {
		max-width: 50rem;
	}
}

@media (max-width: 850px) {
	.markdown-container {
		max-width: 40rem;
	}
}

@media (max-width: 700px) {
	.markdown-container {
		max-width: 25rem;
	}
}

@media (max-width: 450px) {
	.markdown-container {
		max-width: 20rem;
	}
}
