@import url('https://cdn.jsdelivr.net/gh/uclaacm/westwood_sans/font.css');

/* ========== Blog.jsx ========== */
#blog {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ========== BlogList.jsx ========== */
#bloglist {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem 0 2rem;
}

.bloglist-title {
	font-weight: bold;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		to right,
		var(--gradientStart),
		var(--gradientEnd)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.bloglist-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.25rem;
	width: 100%;
}

.blog-link {
	text-decoration: none;
	background-color: white;
	border-radius: var(--rounded-3xl);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(251, 113, 196, 0.3);
	width: 60%;
	margin: 1.5rem 0;
	transition: box-shadow 0.3s ease;
	color: inherit;
}

.blog-link:hover {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 0 30px rgba(251, 113, 196, 0.4);
	cursor: pointer;
}

.blog-link:visited,
.blog-link:focus,
.blog-link:active {
	color: inherit;
}

.blog-title-container {
	background: linear-gradient(
		to right,
		var(--hackAccentV2),
		var(--cardGradientEnd)
	);
	border-radius: var(--rounded-3xl) var(--rounded-3xl) 0 0;
	padding: 1.25rem 2.5rem 1.25rem 2.5rem;
}

.blog-title {
	font-size: 2.5rem;
	font-weight: 600;
	color: white;
	margin: 0;
}

.blog-rest-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem 2.5rem 2rem 2.5rem;
}

.blog-summary {
	font-family: 'Westwood Sans';
	font-size: 1.5rem;
	color: var(--newGray);
	text-decoration: none;
	margin: 0;
}

.blog-metadata {
	color: var(--newLightGray);
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
	margin: 0;
}

.blog-metadata span svg {
	stroke: var(--hackAccentV2);
}

.blog-icon-metadata {
	font-family: 'Westwood Sans';
	display: flex;
	gap: 0.4rem;
	align-items: center;
}

/* ========== BlogPost.jsx ========== */
#blogpost {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.markdown-container {
	max-width: 70rem;
	margin: 3rem auto;
	line-height: 1.8;
}

.markdown-container h1 {
	font-weight: bold;
	font-size: 3rem;
	margin: 1rem 0;
	background-image: linear-gradient(
		to right,
		#c960ff,
		#ea43d4,
		#f499da,
		#e16db9,
		#c960ff
	);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* background-size: 300% auto; */
	animation: gradientFlow 5s linear infinite;
}

.markdown-container h2 {
	font-family: 'Westwood Sans', sans-serif;
	font-size: 2rem;
	font-weight: 400;
	color: #5F5667;
}

.markdown-container h3 {
	font-family: 'Westwood Sans', sans-serif;
	font-size: 1.5rem;
	color: var(--lightGrayV2);
	font-weight: normal;
}

.markdown-container h4 {
	font-family: 'Westwood Sans', sans-serif;
	font-size: 1.2rem;
	font-weight: normal;
	font-style: italic;
	color: var(--black);
}

.markdown-container p {
	font-size: 1.2rem;
	color: var(--hackSecondaryV3);
	margin-bottom: 1.5rem;
}

.markdown-container blockquote {
	background-color: var(--bgWhite);
	border-left: 4px solid var(--hackAccent);
	margin: 1.5rem 0;
	padding: 1rem;
	font-style: italic;
	color: var(--gray);
}

.markdown-container ul {
	list-style-type: disc;
}

.markdown-container li {
	font-size: 1.2rem;
}

.markdown-container pre {
	background-color: var(--bgWhite);
	padding: 1rem;
	border-radius: 5px;
	overflow-x: auto;
}

.markdown-container code {
	font-family: 'Roboto Mono', monospace;
	color: var(--hackAccentV2);
}

.markdown-container a {
	color: var(--hackSecondaryV2);
	text-decoration: none;
}

.markdown-container a:hover {
	color: var(--hackAccent);
	text-decoration: underline;
}

.markdown-container img {
	max-width: 100%;
}

/* ========== Media Queries ========== */
@media (max-width: 1200px) {
	.markdown-container {
		max-width: 60rem;
	}
}

@media (max-width: 1000px) {
	.markdown-container {
		max-width: 50rem;
	}
}

@media (max-width: 850px) {
	.markdown-container {
		max-width: 40rem;
	}

	.blog-link {
		width: 80%;
	}
}

@media (max-width: 700px) {
	.markdown-container {
		max-width: 25rem;
	}
}

@media (max-width: 450px) {
	.markdown-container {
		max-width: 20rem;
	}

	.markdown-container h1 {
		font-size: 2.5rem;
	}
}
