@import url('https://cdn.jsdelivr.net/gh/uclaacm/westwood_sans/font.css');

.events-section {
	position: relative;
	overflow: hidden;
	background: linear-gradient(180deg, #8FCBF6 0%, #6A5BFF 35%, #2A0A3E 55%, #2A0A3E 100%);
	width: 100%;
	aspect-ratio: 1440 / 1237;
	height: auto;
}

.events-container {
	position: relative;
	max-width: 900px;
	padding: 4vw 4vw 6vw;
	width: 100%;
}

.events-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.events-title {
	font-weight: bold;
	color: white;
	font-size: 5rem;
}

.events-title .sup {
	font-size: 0.35em;
	line-height: 0;
	vertical-align: super;
	margin-left: 0.15em;
	color: var(--pink);
}

.events-bg-svg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-bottom: -0.02rem;
}

.events-sign-text {
	width: 100%;
	height: 100%;
	padding: 1rem;
	color: var(--hackSecondaryV3);
	display: flex;
	align-items: center;
	text-align: center;
	font-family: 'Westwood Sans', sans-serif;
	font-size: 1.55rem;
}

.events-bg-svg img {
	width: 100%;
	height: 100%;
}

@media (max-width: 980px) {
	.events-title {
		font-size: 5vw;
	}
}

@media (max-width: 900px) {
	.events-container {
		max-width: 100vw;
		width: 100vw;
		padding: 6vw 6vw 10vw;
	}
}
