@import url('https://cdn.jsdelivr.net/gh/uclaacm/westwood_sans/font.css');

.faq-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 0 2rem;
	background-color: var(--bgPink);
}

.faq-section .szh-accordion {
	width: 60%;
}

.faq-header {
	text-align: left;
	width: 60%;
}

.item {
	background-color: white;
	border-radius: var(--rounded-2xl);
	box-shadow: 0 0px 8px 10px rgba(251, 113, 196, 0.05);
	margin-bottom: 1rem;
}

.itemBtn {
	width: 100%;
	font-weight: 600;
	padding: 1rem;
	font-size: 1.6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	background-image: linear-gradient(to right, #FB71C4, #D681F8);
	color: white;
	cursor: pointer;
	border-radius: var(--rounded-2xl);
	transition: border-radius 0.25s;
}

.itemBtnExpanded {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.itemContent {
	transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
	padding: 1rem 1.5rem;
	background-color: #ffffff;
	border-radius: var(--rounded-2xl);
	color: var(--newGray);
	font-family: 'Westwood Sans', sans-serif;
	line-height: 1.6;
	font-size: 1.2rem;
	font-weight: 500;
}

.itemPanel a {
	font-family: 'Westwood Sans', sans-serif;
	color: var(--pink);
	text-decoration: none;
}

.itemPanel a:hover {
	font-family: 'Westwood Sans', sans-serif;
	color: var(--pink);
	text-decoration: underline;
}

.chevron {
	transition: transform 0.2s ease;
	color: white;
}

.itemBtnExpanded .chevron {
	transform: rotate(180deg);
}

@media (max-width: 1400px) {
	.faq-section .szh-accordion {
		width: 90%;
	}
	.faq-header {
		width: 90%;
	}
}
