/* Footer Styles */
.footer-container {
	background: #F5D9EE;
  background: linear-gradient(180deg,#F5D9EE 0%, #FFAF3E 100%);
	width: 100%;
}

#footer-svg {
	display: block;
  width: 100%;
}

.footer-link path {
  transition: fill 0.2s ease;
}

.footer-link:hover path {
  fill: #ce9870;
}
