.slick-prev,
.slick-next {
	position: absolute;
	z-index: 10;
	height: 30px;
	width: 30px;
}

.slick-prev {
	left: 2%;
}

.slick-next {
	right: 2%;
}

.slick-prev::before,
.slick-next::before {
	font-size: 30px;
}

.slick-dots {
	bottom: 25px;
}

.slick-dots li button:before {
	font-size: 8px;
	color: var(--bgWhite);
}

.slick-dots li.slick-active button:before {
	color: var(--bgWhite);
}

.carousel-image {
	height: 40vw;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: var(--rounded-lg);
	object-fit: cover;
}

@media (max-width: 600px) {
	.carousel-image {
		height: 50vw;
	}
}
