/* ========== HackDescription.jsx ========== */
.hack-description-section {
	position: relative;
	overflow: hidden;
  background: linear-gradient(180deg, var(--bgWhite) 0%, #CBF8FB 20%);
	background-color: #CBF8FB;
}

.hack-description-container {
	position: absolute;
  overflow: hidden;
	top: 0;
	left: 0;
	width: 83vw;
	padding: 4vw;
}

.hack-bg-svg {
	margin-bottom: -1rem;
}

#what-is-hack-svg {
	width: 100%;
}

.hack-title {
	font-weight: bold;
	font-size: 2.5rem;
	color: var(--hackSecondaryV2);
}

.hack-description-para {
	line-height: 2.5rem;
	font-size: 1.2rem;
	color: var(--hackSecondaryV3);
}

.hack-subtitle {
	font-weight: 400;
	font-size: 1.8rem;
}

@media (max-width: 1180px) {
	.hack-description-container {
		width: 100vw;
		position: relative;
	}

	.hack-bg-svg {
		margin-top: -20rem;
	}

	#sun {
		display: none;
	}
}

@media (max-width: 900px) {
	.hack-bg-svg {
		margin-top: -16rem;
		margin-bottom: -2vw;
	}
}

@media (max-width: 750px) {
	.hack-title {
		font-size: 1.5rem;
	}

	.hack-description-para {
		font-size: 0.9rem;
		line-height: 2rem;
	}

	.hack-bg-svg {
		margin-top: -12rem;
	}
}

@media (max-width: 580px) {
	.hack-bg-svg {
		margin-top: -10rem;
	}
}

@media (max-width: 450px) {
	.hack-bg-svg {
		margin-top: -5rem;
		margin-bottom: -3vw;
	}
}
