/* ========== Home.jsx ========== */
#home {
	width: 100%;
}

.lower-container {
	background: var(--bgPinkGradient);
}

/* ========== Banner.jsx ========== */
.banner-container {
	background: linear-gradient(
		180deg,
		rgba(255, 178, 221, 1) 60%,
		rgba(255, 255, 255, 1) 100%
	);
	display: flex;
	justify-content: center;
	padding: 0;
	width: 100%;
	margin-top: calc(-1 * var(--navbar-height));
	padding-top: var(--navbar-height);
	height: 140vh;
}

.banner-content {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: unset;
}

#banner-svg {
	width: 90%;
}

#light-group.light-glow {
	fill: url(#glow-gradient);
	filter: url(#glow-effect);
}

#text-group.text-glow {
	filter: url(#acm-text-glow);
}

#wire-group.wire-glow {
	filter: url(#glow-effect);
}

.off {
	fill-opacity: 0.5;
}

.on {
	fill-opacity: 1;
	filter: url(#terminal-glow);
}

.blink {
	animation: blinkAnimation 1s steps(1, start) infinite;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 40;
  opacity: 1;
  transition: opacity 2s ease;
  pointer-events: auto;
}

.overlay.dark {
  opacity: 0.7;
}

.overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

@keyframes flicker {
  70%, 80%, 90%, 100% {
    opacity: 0;
  }
  65%, 75%, 85%, 95% {
    opacity: 1;
  }
}

@keyframes pulsate {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.flicker {
	opacity: 0;
  animation: flicker 1.9s steps(1, end) 1 forwards; 
}

.pulsate {
	animation: pulsate 2s ease-in-out infinite;
}

@keyframes blinkAnimation {
	0% {
		fill: #a164be;
	}
	50% {
		fill: white;
		filter: url(#terminal-glow);
	}
	100% {
		fill: #a164be;
	}
}

/* ========== HackDescription.jsx ========== */
.hack-description-section {
	position: relative;
	overflow: hidden;
	background-color: #CBF8FB;
}

.hack-description-container {
	position: absolute;
  overflow: hidden;
	top: 0;
	left: 0;
	width: 83vw;
	padding: 4vw;
}

.hack-bg-svg {
	margin-bottom: -1rem;
}

#what-is-hack-svg {
	width: 100%;
}

.hack-title {
	font-weight: bold;
	font-size: 2.5rem;
	color: var(--hackSecondaryV2);
}

.hack-description-para {
	line-height: 2.5rem;
	font-size: 1.2rem;
	color: var(--hackSecondaryV3);
}

.hack-subtitle {
	font-weight: 400;
	font-size: 1.8rem;
}

@media (max-width: 1180px) {
	.hack-description-container {
		width: 100vw;
		position: relative;
	}

	.hack-bg-svg {
		margin-top: -20rem;
	}

	#sun {
		display: none;
	}
}

@media (max-width: 900px) {
	.hack-bg-svg {
		margin-top: -16rem;
		margin-bottom: -2vw;
	}
}

@media (max-width: 750px) {
	.hack-title {
		font-size: 1.5rem;
	}

	.hack-description-para {
		font-size: 0.9rem;
		line-height: 2rem;
	}

	.hack-bg-svg {
		margin-top: -12rem;
	}
}

@media (max-width: 580px) {
	.hack-bg-svg {
		margin-top: -10rem;
	}
}

@media (max-width: 450px) {
	.hack-bg-svg {
		margin-top: -5rem;
		margin-bottom: -3vw;
	}
}
