/* ========== Home.jsx ========== */
#home {
	width: 100%;
	background-color: var(--bgGray);
}
.container-md {
	max-width: 960px;
	margin: 0 auto;
	padding: 1rem;
}

.white-container {
	background-color: #ffffff;
	padding: 2rem 0;
	overflow: hidden;
}

.transparent-container {
	background-color: transparent;
	padding: 2rem 0;
	overflow: hidden;
}

/* ========== Banner.jsx ========== */
.banner-container {
	/* background-color: var(--bgPink); */
	background: linear-gradient(
		180deg,
		rgba(255, 178, 221, 1) 60%,
		rgba(255, 255, 255, 1) 100%
	);
	display: flex;
	justify-content: center;
	padding: 0;
	width: 100%;
	margin-top: calc(-1 * var(--navbar-height));
	padding-top: var(--navbar-height);
	height: 100vh
}

.banner-content {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: unset;
}

#banner-svg {
	width: 90%;
}

#light-group.light-glow {
	fill: url(#glow-gradient);
	filter: url(#glow-effect);
}

#text-group.text-glow {
	filter: url(#acm-text-glow);
}

#wire-group.wire-glow {
	filter: url(#glow-effect);
}

.off {
	fill-opacity: 0.5;
}

.on {
	fill-opacity: 1;
	filter: url(#terminal-glow);
}

.blink {
	animation: blinkAnimation 1s steps(1, start) infinite;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 40;
  opacity: 1;
  transition: opacity 2s ease;
  pointer-events: auto;
}

.overlay.dark {
  opacity: 0.7;
}

.overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

@keyframes flicker {
  70%, 80%, 90%, 100% {
    opacity: 0;
  }
  65%, 75%, 85%, 95% {
    opacity: 1;
  }
}

@keyframes pulsate {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.flicker {
	opacity: 0;
  animation: flicker 1.9s steps(1, end) 1 forwards; 
}

.pulsate {
	animation: pulsate 2s ease-in-out infinite;
}

@keyframes blinkAnimation {
	0% {
		fill: #a164be;
	}
	50% {
		fill: white;
		filter: url(#terminal-glow);
	}
	100% {
		fill: #a164be;
	}
}

/* ========== HackDescription.jsx ========== */
.hack-description-section {
	position: relative;
	overflow: hidden;
	background-color: #CBF8FB;
	width: 100%;
	height: 100vh;
	min-height: 900px;
}

.hack-description-container {
	position: relative;
  overflow: hidden;
	width: 55vw;
	padding: 6vw 4vw;
}

.svg-container {
	flex: 1;
	max-width: 500px;
	height: 400px;
}

.hack-description {
	flex: 1;
	transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
	opacity: 0;
	transform: translateY(30px);
}

.hack-description.text-hidden {
	opacity: 0;
	transform: translateY(30px);
}

.hack-description.text-visible {
	opacity: 1;
	transform: translateY(0);
}

.hack-bg-svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

#what-is-hack-svg {
	width: 100%;
}

.hack-description-content {
  position: relative;
  z-index: 1;
}

.hack-title {
	font-weight: bold;
	font-size: 2.5rem;
	color: var(--darkPurple)
}

.home-hack-logo {
	flex-basis: 15%;
	margin-left: 4rem;
	height: 10rem;
}

.hack-description-para {
	line-height: 2.5rem;
	font-size: 1.2rem;
}

.hack-connected-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2vw;
}

.hack-subtitle {
	font-weight: 400;
	font-size: 1.8rem;
}

.home-graphic {
	margin-right: 7rem;
	height: 10rem;
	flex-basis: 15%;
}

@media (max-width: 900px) {
	.hack-description-container {
		/* margin-top: 1vw; */
		min-height: 100vh;
		width: 100vw;
	}
}

@media (max-width: 750px) {
	.hack-description-container {
		flex-direction: column;
		width: 100vw;
		min-height: 500px;
		height: 500px;
	}

	.hack-description {
		margin-top: 1.5rem;
	}

	.home-hack-logo {
		margin-left: 0;
		max-height: 8rem;
	}

	.hack-connected-container {
		flex-direction: column;
	}

	.home-graphic {
		margin-right: 0;
		max-height: 8rem;
	}

	.hack-title {
		font-size: 1.5rem;
	}

	.hack-description-content {
		min-height: 600px;
		height: 600px;
	}

	.hack-description-section {
		min-height: 700px;
		height: 700px;
	}

	.hack-description-para {
		font-size: 0.9rem;
		line-height: 2rem;
	}
}

/* ========== Events.jsx ========== */
.events-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 2rem;
}

.event-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 45%;
	padding: 1rem;
	border-radius: 8px;
	max-width: 500px;
	margin: 0 auto;
}

.event-img {
	width: 100%;
	max-width: 25rem;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 1rem;
	box-shadow: 0 0 0.7rem 0.3rem #e6e6e6;
}

.event-description {
	width: 100%;
	max-width: 25rem;
	text-align: justify;
	flex-basis: 80%;
	flex-grow: 1;
	line-height: 1.8rem;
}

.event-title {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	background-image: linear-gradient(
		to right,
		#c960ff,
		#ea43d4,
		#f499da,
		#e16db9,
		#c960ff
	);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 200% auto;
	-webkit-text-fill-color: transparent;
	background-position: 0% center;
	transition: background-position 2s ease;
}

.event-title:hover {
	background-position: 100% center;
	transition: background-position 2s ease;
}

@media (max-width: 750px) {
	.events-container {
		flex-direction: column;
		gap: 1.5rem;
	}
}

@media (max-width: 450px) {
	.event-img {
		width: 100%;
		height: auto;
	}
	.event-title {
		font-size: 2rem;
	}
}
