/* ========== Home.jsx ========== */
#home {
	width: 100%;
	background-color: var(--bgGray);
}
.container-md {
	max-width: 960px;
	margin: 0 auto;
	padding: 1rem;
}

.white-container {
	background-color: #ffffff;
	padding: 2rem 0;
	overflow: hidden;
}

.transparent-container {
	background-color: transparent;
	padding: 2rem 0;
	overflow: hidden;
}

/* ========== Banner.jsx ========== */
.banner-container {
	/* background-color: var(--bgPink); */
	background: linear-gradient(
		180deg,
		rgba(255, 178, 221, 1) 60%,
		rgba(255, 255, 255, 1) 100%
	);
	display: flex;
	justify-content: center;
	padding: 0;
	width: 100%;
}

.banner-content {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: unset;
}

#banner {
	width: 80%;
}

#light-group.light-glow {
	fill: url(#glow-gradient);
	filter: url(#glow-effect);
}

#wire-group.wire-glow {
	filter: url(#glow-effect);
}

.off {
	fill-opacity: 0.5;
}

.on {
	fill-opacity: 1;
	filter: url(#terminal-glow);
}

.blink {
	animation: blinkAnimation 1s steps(1, start) infinite;
}

@keyframes blinkAnimation {
	0% {
		fill: #a164be;
	}
	50% {
		fill: white;
		filter: url(#terminal-glow);
	}
	100% {
		fill: #a164be;
	}
}

/* ========== HackDescription.jsx ========== */
.hack-description-section {
	position: relative;
	overflow: hidden;
	background-color: #CBF8FB;
	width: 100%;
	height: 100vh;
}

.hack-description-container {
	position: relative;
  overflow: hidden;
	width: 60vw;
	padding: 6vw 4vw;
}

.svg-container {
	flex: 1;
	max-width: 500px;
	height: 400px;
}

.hack-description {
	flex: 1;
}

.hack-bg-svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

#what-is-hack-svg {
	width: 100%;
}

.hack-description-content {
  position: relative;
  z-index: 1;
}

.hack-title {
	font-weight: bold;
	font-size: 2.5rem;
}

.home-hack-logo {
	flex-basis: 15%;
	margin-left: 4rem;
	height: 10rem;
}

.hack-connected-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2vw;
}

.hack-subtitle {
	font-weight: 400;
	font-size: 1.8rem;
}

.home-graphic {
	margin-right: 7rem;
	height: 10rem;
	flex-basis: 15%;
}

@media (max-width: 750px) {
	.hack-description-container {
		flex-direction: column;
	}

	.hack-description {
		margin-top: 2rem;
	}

	.home-hack-logo {
		margin-left: 0;
		max-height: 8rem;
	}

	.hack-connected-container {
		flex-direction: column;
	}

	.home-graphic {
		margin-right: 0;
		max-height: 8rem;
	}
}

/* ========== CurrEvents.jsx ========== */
.section-title {
	font-weight: bold;
	margin: 2rem 0;
	font-size: 2.5rem;
	margin-bottom: 0.2rem;
}

.events-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 2rem;
}

.event-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 45%;
	padding: 1rem;
	border-radius: 8px;
	max-width: 500px;
	margin: 0 auto;
}

.event-img {
	width: 100%;
	max-width: 25rem;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 1rem;
	box-shadow: 0 0 0.7rem 0.3rem #e6e6e6;
}

.event-description {
	width: 100%;
	max-width: 25rem;
	text-align: justify;
	flex-basis: 80%;
	flex-grow: 1;
	line-height: 1.8rem;
}

.event-title {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	background-image: linear-gradient(
		to right,
		#c960ff,
		#ea43d4,
		#f499da,
		#e16db9,
		#c960ff
	);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 200% auto;
	-webkit-text-fill-color: transparent;
	background-position: 0% center;
	transition: background-position 2s ease;
}

.event-title:hover {
	background-position: 100% center;
	transition: background-position 2s ease;
}

@media (max-width: 750px) {
	.events-container {
		flex-direction: column;
		gap: 1.5rem;
	}
	.hack-title {
		font-size: 1.5rem;
	}
	.hack-description-container {
		/* margin-top: 1vw; */
		width: 100vw;
	}
	.hack-description-section {
		height: 75vh;
	}
}

@media (max-width: 450px) {
	.event-img {
		width: 100%;
		height: auto;
	}
	.event-title {
		font-size: 2rem;
	}
}
