/* ========== Home.jsx ========== */
#home {
	width: 100%;
	background-color: var(--bgGray);
}
.container-md {
	max-width: 960px;
	margin: 0 auto;
	padding: 1rem 2rem;
}

.white-container {
	background-color: #ffffff;
	/* padding: 2rem 0; */
	overflow: hidden;
}

.transparent-container {
	background-color: transparent;
	padding: 2rem 0;
	overflow: hidden;
}

.carousel-container,
.carousel-image,
.slick-slide .slick-active .slick-current {
	/* background-color: var(--bgWhite);
	padding: 2rem 0; */
	border-radius: var(--rounded-md);
}

/* ========== Banner.jsx ========== */
.banner-container {
	background-color: var(--bgPink);
	display: flex;
	justify-content: center;
	padding: 0rem 1rem;
	width: 100%;
}

.banner-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 960px;
	width: 100%;
	overflow: unset;
}

.left-banner,
.right-banner,
.wordmark {
	width: 30%; /* Use percentage-based width for flexibility */
	max-width: 310px; /* Limit max size */
	height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
	.left-banner,
	.right-banner,
	.wordmark {
		width: 25%; /* Adjust image size for medium devices */
		max-width: 240px;
	}
}

@media (max-width: 600px) {
	.banner-content {
		flex-direction: column; /* Stack images vertically */
		align-items: center; /* Center images */
	}

	.left-banner,
	.right-banner,
	.wordmark {
		width: 60%; /* Larger width for small screens */
		max-width: 200px;
		margin-bottom: 1rem; /* Add space between stacked images */
	}

	.wordmark {
		width: 80%; /* Allow wordmark to be slightly larger */
	}
}

/* ========== HackDescription.jsx ========== */
.hack-description-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
	/* padding: 2rem 0; */
	background-color: var(--bgWhite);
}

.hack-description {
	text-align: justify;
	/* flex-basis: 80%; */
	flex-grow: 1;
	line-height: 1.8rem;
}

.hack-title {
	font-weight: bold;
	margin: 2rem 0;
	font-size: 2rem;
}

.home-hack-logo {
	flex-basis: 15%;
	margin-left: 2rem;
	height: 10rem;
}

.hack-connected-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.hack-subtitle {
	font-weight: 400;
	font-size: 1.8rem;
}

.home-graphic {
	margin-right: 7rem;
	height: 10rem;
	flex-basis: 15%;
}

@media (max-width: 600px) {
	.hack-logo {
		display: none;
	}
}
