.navbar {
	top: 0px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	position: sticky;
	background-color: var(--bgWhite);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	/* -webkit-backdrop-filter: blur(10px); */
	/* backdrop-filter: blur(10px); */
	padding: 1rem 3rem;
	z-index: 1000;
}

.nav-hack-logo {
	height: 35px;
}

.navbar-links {
	list-style: none;
	display: flex;
	gap: 0.5rem;
	margin: 0;
	padding: 0;
	transition: all 0.3s ease-in-out;
}

.navbar-links .discord-link {
	background-color: var(--lightPurple);
	color: var(--bgWhite);
}

.navbar-links.active li {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	z-index: 100;
}

.navbar-links a {
	text-decoration: none;
	color: var(--bgBlack);
	font-size: 1rem;
	font-weight: 500;
	transition: color 0.5s ease;
	transition: background-color 0.5s ease;
	padding: 0.5rem 1rem;
	border-radius: var(--rounded-xl);
}

.navbar-links a:hover {
	color: var(--darkPink);
	background-color: var(--bgGray);
}

/* Hamburger Menu Styles */
.hamburger {
	display: none;
	flex-direction: column;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.hamburger svg {
	fill: var(--bgBlack);
}

@media (max-width: 950px) {
	.navbar {
		padding: 1rem 2rem;
	}

	.navbar-links {
		position: absolute;
		user-select: none;
		top: -300px;
		right: 0;
		width: 100%;
		flex-direction: column;
		background-color: var(--bgWhite);
		align-items: center;
		opacity: 0;
		height: 0;
		visibility: hidden;
		border-bottom-left-radius: var(--rounded-xl);
		border-bottom-right-radius: var(--rounded-xl);
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
		transition: height 0.4s ease, opacity 0.4s ease;
		overflow: hidden;
	}

	.navbar-links.active {
		visibility: visible;
		opacity: 1;
		top: 65px;
		z-index: 100;
		height: auto;
		padding: 1rem 0;
		/* animation: slideDown 0.4s ease forwards; */
		transition: height 0.4s ease, opacity 0.4s ease;
	}

	.hamburger {
		display: flex;
	}

	@keyframes slideDown {
		0% {
			top: -300px;
			opacity: 0;
			z-index: 100;
		}
		100% {
			top: 65px;
			opacity: 1;
		}
	}
}
