.navbar {
	top: 0px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	position: sticky;
	z-index: 1000;
	padding: 1rem 3rem;
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar.scrolled {
	background-color: var(--bgPink);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar.transparent {
	background: transparent;
	box-shadow: none;
}

.navbar.hidden-navbar {
	opacity: 0;
	pointer-events: none;
	transform: scaleX(0.5);
	transition: none;
}

.nav-hack {
	display: flex;
	align-items: center;
}

.nav-hack-logo {
	height: 35px;
}

.navbar-links {
	list-style: none;
	display: flex;
	gap: 0.5rem;
	margin: 0;
	padding: 0;
	transition: all 0.3s ease-in-out;
}

.navbar-links .apply-link {
	background-color: var(--hackPrimary);
	color: var(--bgWhite);
	border-radius: var(--rounded-full);
}

.navbar-links .active-link {
  color: var(--hackPrimary);
}

.navbar-links.active li {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	z-index: 100;
}

.navbar-links a {
	text-decoration: none;
	color: var(--bgBlack);
	font-size: 1rem;
	font-weight: 500;
	transition: color 0.5s ease;
	transition: background-color 0.5s ease;
	padding: 0.5rem 1rem;
	border-radius: var(--rounded-full);
}

.navbar-links a:hover {
	color: var(--lightPurple);
	background-color: var(--bgGray);
}

.apply {
	margin-left: 1rem;
}

.hamburger {
	display: none;
	flex-direction: column;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.hamburger svg {
	fill: var(--bgBlack);
}

@media (max-width: 950px) {
	.navbar {
		padding: 1rem 2rem;
	}

	.navbar-links {
		position: absolute;
		user-select: none;
		top: -300px;
		right: 0;
		width: 100%;
		flex-direction: column;
		background-color: var(--bgPink);
		align-items: center;
		opacity: 0;
		height: 0;
		visibility: hidden;
		border-bottom-left-radius: var(--rounded-2xl);
		border-bottom-right-radius: var(--rounded-2xl);
		box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
		transition: height 0.4s ease, opacity 0.4s ease;
		overflow: hidden;
	}

	.navbar-links.active {
		visibility: visible;
		opacity: 1;
		top: 65px;
		z-index: 100;
		height: auto;
		padding: 1rem 0;
		animation: slideDown 0.4s ease forwards;
		transition: height 0.4s ease, opacity 0.4s ease;
	}

	.hamburger {
		display: flex;
	}

	@keyframes slideDown {
		0% {
			top: -300px;
			opacity: 0;
			z-index: 100;
		}
		100% {
			top: 65px;
			opacity: 1;
		}
	}
}

@media (min-width: 951px) {
	.navbar {
		position: sticky;
	}

	.navbar-links {
		position: absolute;
		left: 0;
		right: 0;
		transform: none;
		justify-content: center;
	}

	.navbar .apply {
		position: absolute;
		right: 3rem;
		top: 50%;
		transform: translateY(-50%);
		margin-left: 0;
	}
}
