.workshops-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 0 2rem;
}

.slides {
	width: 70%;
	margin: 0 auto 3rem;
	border-radius: 16px;
	overflow: hidden;
}

.carousel-image {
	height: 450px;
	display: block !important;
	margin: 0 auto;
	object-fit: cover;
	width: 100%;
}

.quarter {
	width: 60%;
	margin-bottom: 2rem;
}

.quarter h2 {
	margin: 1rem 0;
	color: var(--hackSecondaryV3);
	font-size: 2rem;
}

.event-details {
	width: 100%;
}

.event-links {
	display: flex;
	flex-direction: row;
}

.event-links span {
	margin: 0 0.5rem;
}

.session {
	margin-bottom: 2rem;
	padding: 0.5rem 1.5rem 1rem;
	background-color: #FFF8FA;
	border-radius: var(--rounded-2xl);
	box-shadow: -3px 3px var(--lightPink);
}

.session p {
	margin-top: 0;
	margin-bottom: 0;
}

.session h3 {
	font-size: 1.8rem;
	margin: 0;
	color: var(--hackSecondaryV3);
}

.presentersContainer {
	display: flex;
}

.presenters {
	color: #9689a1;
}

.session-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 0.3rem;
}

.session-header h3 {
	font-weight: 500;
	font-size: 2rem;
	margin-bottom: 0.2rem;
}

.session-tags {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.3rem;
}

.tag {
	background-color: var(--lightPink);
	color: var(--pink);
	padding: 0.15rem 0.8rem;
	border-radius: var(--rounded-2xl);
	margin-right: 0.5rem;
	font-size: 1rem;
	white-space: nowrap;
	font-family: 'Westwood Sans', sans-serif;
}

.workshopIconContainer,
.presentersContainer {
	margin-right: 1rem;
	display: flex;
	align-items: center;
}

.workshopIconContainer a,
.workshopIconContainer p,
.presenters {
	font-family: 'Westwood Sans', sans-serif;
}

svg.workshopIcon {
	margin-right: 0.4rem;
}

.archiveItem {
	background-color: white;
	border-radius: var(--rounded-2xl);
	box-shadow: 0 0px 8px 10px rgba(251, 113, 196, 0.05);
	margin-bottom: 1rem;
}

.archiveItemBtn {
	width: 100%;
	font-weight: 600;
	padding: 1rem;
	font-size: 1.6rem;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	background-image: linear-gradient(to right, #FB71C4, #D681F8);
	color: white;
	cursor: pointer;
	border-radius: var(--rounded-2xl);
	transition: border-radius 0.25s;
}

.archiveItemBtnExpanded {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.archiveItemContent {
	transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.archiveItemPanel {
	padding: 0 2rem 0.1rem;
	background-color: #ffffff;
	border-radius: var(--rounded-2xl);
	color: #333;
	line-height: 1.6;
	font-size: 1rem;
}

.archiveItemPanel a {
	color: var(--pink);
	text-decoration: none;
}

.chevron {
	transition: transform 0.2s ease;
	color: white;
}

.archiveItemBtnExpanded .chevron {
	transform: rotate(180deg);
}

.directors {
	font-size: 1.5rem;
	font-family: 'Westwood Sans', sans-serif;
	color: #5f5667;
}

@media (max-width: 1400px) {
	.workshops-container {
		padding: 2rem 0;
	}

	.quarter {
		width: 90%;
	}

	.session h3 {
		font-size: 1.4rem;
	}

	.tag {
		margin-bottom: 0.3rem;
		font-size: 0.8rem;
	}

	.archiveItemBtn {
		padding: 0.8rem;
		font-size: 1.4rem;
	}
}

@media (max-width: 650px) {
	.personIcon {
		display: none;
	}
}

@media (max-width: 450px) {
	.event-links {
		flex-direction: column;
	}
}
